# Craft Storage (cache) [http://buildwithcraft.com/help/craft-storage-gitignore]
/craft/storage/*
!/craft/storage/logo/*
/craft/app
/craft/config
*.codekit3
*.sublime-project
*.sublime-workspace
style.css.map
public/assets/css/fonts/
public/assets/css/fonts/*
public/project
public/uploads
public/assets/fonts/GT-Cinetype-Regular.eot
public/assets/fonts/GT-Cinetype-Regular.ttf
public/assets/fonts/GT-Cinetype-Regular.woff