# Craft Storage (cache) [http://buildwithcraft.com/help/craft-storage-gitignore]
/craft/storage/*
!/craft/storage/logo/*
/craft/app
/craft/config
/craft/vendor
*.codekit3
*.sublime-project
*.sublime-workspace
style.css.map
public/assets/css/fonts/
public/assets/css/fonts/*
public/cpresources
public/project
public/uploads
public/assets/fonts/Niander-Regular.woff
public/assets/fonts/Niander-Regular.woff2