{% extends "_layout" %}
{% set title = entry.title %}
{% set bodytag = "project" %}

{% block header %}
<header id="header" class="header-main entry-header row">
	<div class="col-xs-12 col-md-2">
		<h2 class="site-title">{{ siteName }}</h2>
		<p class="site-description">{{ siteInformation.siteDescription }}</p>
	</div>
	<div class="col-xs-12 col-md-4">
		<p class="entry-position">
			{% set entryIds = craft.entries.section('projects').order('postDate asc').ids() %}
			{# Get the position of this entry's ID within our IDs array #}
			{% set position = '' %}
			{% for key, value in entryIds if value == entry.id %}
			    {% set position = key + 1 %}
			{% endfor %}
			{# Get the amount of total entries #}
			{% set total = entryIds|length %}
			Project {{ position }} of {{ total }}
		</p>
		<p class="entry-time">{{ entry.timePeriod }}</p>
	</div>
	<div class="col-xs-12 col-md-4">
		<a href="/" class="home-link" rel="home">Back to index</a>
	</div>
</header>
{% endblock %}

{% block content %}
	<article class="entry-article">
		<header class="entry-article-header row">
			<div class="col-xs-12 col-md-4 col-md-offset-2">
				<div class="entry-meta">
					<h1 class="entry-title">{{ entry.title }}</h1>
					<p class="entry-typology">{{ entry.typology }}</p>
					
				</div>
			</div>
			<div class="col-xs-12 col-md-6">
				<div class="entry-preamble">
					{{ entry.preamble|widont }}
				</div>
			</div>
		</header>
		<div class="entry-article-content">
		{% for block in entry.projectContent %}

			{% if block.type == "rowImage" %}
			<div class="entry-article-image entry-article-row row">
				{% set asset = block.projectImage.first() %}
				{% if asset %}
					<div class="col-xs-12 col-md-2">
						<div class="asset-meta">
							<div class="asset-ext">Image/{{ asset.extension|upper }}</div>
							<div class="asset-size">{{ ceil(asset.size/1000) }} kB</div>
							<div class="asset-indice">Item {{ loop.index }}</div>
						</div>
					</div>
					<div class="col-xs-12 col-md-{{ block.imageWidth }} col-md-offset-{{ block.imageOffset }}">
						<img src="{{ asset.getUrl }}" alt="Project image" class="entry-img">
					</div>
				{% endif %}
			</div>
			{% elseif block.type == "rowText" %}
			<div class="entry-article-text entry-article-row row">
				<div class="col-xs-12 col-md-2">
					<div class="asset-meta">
						<div class="asset-ext">Text</div>
						<div class="asset-chars">{{ block.projectText|length }} characters</div>
						<div class="asset-indice">Item {{ loop.index }}</div>
					</div>
				</div>
				<div class="col-xs-12 col-md-{{ block.textWidth }} col-md-offset-{{ block.textOffset }}">
					<p class="entry-text">{{ block.projectText|widont }}</p>
				</div>
			</div>
			{% elseif block.type == "rowIframe" %}
			<div class="entry-article-iframe entry-article-row row">
				<div class="col-xs-12 col-md-2">
					<div class="asset-meta">
						<div class="asset-ext">iFrame</div>
						<div class="asset-chars"> {{ block.iframe }}</div>
						<div class="asset-indice">Item {{ loop.index }}</div>
					</div>
				</div>
				<div class="col-xs-12 col-md-10">
					<div class="entry-iframe-container">
						<iframe src="{{ block.iframe }}" frameborder="0" class="entry-iframe"></iframe>
					</div>
				</div>
			</div>
			{% elseif block.type == "rowVideo" %}
			<div class="entry-article-video entry-article-row row">
				<div class="col-xs-12 col-md-2">
					<div class="asset-meta">
						<div class="asset-ext">Video</div>
						<div class="asset-chars">{{ block.videoType }}</div>
						<div class="asset-indice">Item {{ loop.index }}</div>
					</div>
				</div>
				<div class="col-xs-12 col-md-{{ block.videoWidth }} col-md-offset-{{ block.videoOffset }}">
					<div class="entry-video-container">
						{% if block.videoType == 'embed' %}
						{{ block.videoEmbed|markdown }}
						{% elseif block.videoType == 'upload' %}
							{% set assetVid = block.videoUpload.first() %}
							{% if assetVid %}
							<video src="{{ assetVid.getUrl }}"></video>
							{% endif %}
						{% endif %}
					</div>
				</div>
			</div>
			{% endif %}

		{% endfor %}
		</div>
	</article>
{% endblock %}

{% block footer %}
<footer class="footer-main row">
	<div class="col-xs-12 col-md-2">
		<a href="#">About</a>
	</div>
	<div class="col-xs-12 col-md-2 scroll-top-wrap">
		<a href="#" class="scroll-top">Scroll up</a>
	</div>
	<div class="col-xs-12 col-md-2 col-md-offset-2">
		<a href="#">Contact</a>
	</div>
</footer>
{% endblock %}
