{# About index #}
{% extends "_layout" %}
{% set bodytag = "about" %}

{% block header %}
<header id="header" class="header-main entry-header row">
	<div class="col-xs-12 col-md-4">
		<a href="/" class="home-link" rel="home">Back to index</a>
	</div>
	<div class="col-xs-12 col-md-4">
		<h1>About</h1>
	</div>
</header>
{% endblock %}

{% block content %}
<div class="about-content row">
	<div class="col-xs-12 col-md-4 col-md-offset-4">
		<h2 class="about-title">Kim Andre Ottesen</h2>
		<p class="about-paragraph">Exploring the relation between design and&nbsp;technology <br><br></p>
		<ul class="about-list">
			<li class="about-list-item">2013–Present <br>Design + code at&nbsp;Snøhetta</li>
			<li class="about-list-item">2010–2013 <br>BA Graphic Design at&nbsp;Westerdals</li>
		</ul>
	</div>
	<div class="col-xs-12 col-md-4">
		<h2 class="about-title">Contact</h2>
		<ul class="about-list">
			<li class="about-list-item">kim@interactive.kim</li>
			<li class="about-list-item">+47 481 94 879</li>
			<li class="about-list-item">Twitter: <a href="#">@kiman</a></li>
			<li class="about-list-item">Instagram: <a href="#">@kiman3</a></li>
		</ul>
	</div>
</div>
<div class="about-row row">
	<div class="col-xs-12 col-md-8 col-md-offset-4">
		<h2 class="about-title">Teaching, Jurying & Examination</h2>
		<ul class="about-list">
			<li class="about-list-item">Examiner <br>Westerdals Oslo School of Arts, Communication and Technology <br>BA Graphic&nbsp;Design 2018</li>
			<li class="about-list-item">Jurying <br>Visuelt – Norwegian Visual Design Award 2016 <br>Digital&nbsp;Design</li>
			<li class="about-list-item">Teaching <br>Westerdals Oslo ACT <br>Design in Public&nbsp;Spaces</li>
			<li class="about-list-item">Lecture <br>Westerdals Oslo ACT <br>Snøhetta Projects You Probably Haven't&nbsp;Seen</li>
			<li class="about-list-item">Lecture <br>Westerdals Oslo ACT <br>Digital Magazine&nbsp;Concepts</li>
			<li class="about-list-item">Lecture <br>INMA Design Breakfast at Schibsted Media <br>Digital Design&nbsp;Manuals</li>
		</ul>
	</div>
</div>
<div class="about-row row">
	<div class="col-xs-12 col-md-4 col-md-offset-4">
		<h2 class="about-title">Awards & Recognition</h2>
		<ul class="about-list">
			<li class="about-list-item">D&AD</li>
			<li class="about-list-item">European Design Awards</li>
			<li class="about-list-item">RedDot Award</li>
			<li class="about-list-item">DOGA-merket/Merket for god design</li>
			<li class="about-list-item">Visuelt</li>
			<li class="about-list-item">Gulltaggen</li>
		</ul>
	</div>
	<div class="col-xs-12 col-md-4">
		<h2 class="about-title">Features</h2>
		<ul class="about-list">
			<li class="about-list-item">étapes</li>
			<li class="about-list-item">HoverStates</li>
			<li class="about-list-item">SiteInspire</li>
			<li class="about-list-item">The Gallery</li>
			<li class="about-list-item">Httpster</li>
		</ul>
	</div>
</div>
{% endblock %}