@font-face {
	font-family: "GT Cinetyped";
	src:url("../fonts/GT-Cinetype-Regular.eot");
	src:url("../fonts/GT-Cinetype-Regular.eot?#iefix") format("embedded-opentype"),
	url("../fonts/GT-Cinetype-Regular.woff") format("woff");
		font-weight: 400;
		font-style: normal;
}