@import 'normalize-min.scss';
@import 'fonts.scss';
@import 'normalize-opentype-min.scss';
@import 'flexboxgrid.min.scss';

// Font stacks
$font: GT Cinetype, Helvetica, Arial, sans-serif;
$font2: Times New Roman, Times, serif;

// Main colors
$black: #000000;
$white: #ffffff;
$background: $black; 
$text: #eee;
$grey1: #2c2c2c;
$grey2: #999;

// Global measuements
$padding-main: 1em;
$line-height: 1.375em;
$line-height-heading: 1.15em;

// Responsive widths and mixin
$width-s: 23em;
$width-sm: 48em;
$width-md: 60em;
$width-lg: 75em;
$width-xl: 105em;
 
@mixin r($width){

	@if $width == s{
		@media only screen and (min-width: $width-s) { @content; }
	}

	@else if $width == sm{
		@media only screen and (min-width: $width-sm) { @content; }
	}

	@else if $width == md{
		@media only screen and (min-width: $width-md) { @content; }
	}

	@else if $width == lg{
		@media only screen and (min-width: $width-lg) { @content; }
	}

	@else if $width == xl{
		@media only screen and (min-width: $width-xl) { @content; }
	}
}

// Pretty underlines for capable browsers
@mixin underline{
	text-decoration: underline;
	text-decoration-skip: ink;
}

// Add circle before element. Requires relative positioning for parent.
@mixin preCircle{
	background: #555;
	backface-visibility: hidden;
	border-radius: 50%;
	content: "";
	display: block;
	height: 0.75em;
	position: absolute;
		top: 0.15em;
		left: -1.125em;
	transition: background 0.2s ease, transform .5s ease-in-out;
	width: 0.75em;
}

@mixin tabFig{
	font-feature-settings: "onum" 0, "lnum" 1, "tnum" 1;
}

@mixin propFig{
	font-feature-settings: "onum" 0, "lnum" 1, "pnum" 1;
}

// Global styles
*, *:before, *:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html{}

body{
	background: $background;
	color: $text;
	font: 400 1em/1.375 $font;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	margin: 0;
	overflow-x: hidden;
	text-rendering: optimizeLegibility;

	@include r(xl){
		font-size: 1.125em;
	}
}

	a{
		color: inherit;
		@include underline;

		&:active, &:focus, &:hover{
			text-decoration: none;
		}
	}
		
	figure{
		margin: 0;
		padding: 0;
	}

		figcaption{}

	h1, h2, h3, h4, h5, h6{
		font: inherit;
		line-height: 1.15;
		margin: 0;
			margin-bottom: $line-height;
	}

	hr{
		border: none;
			border-bottom: 1px solid #333;
	}

	img, video{
		height: auto;
		max-height: 100%;
		max-width: 100%;
	}

	p{
		margin: 0;
		max-width: 35em;
	}

	section{}

	ul, li{
		margin: 0;
		padding: 0;
	}

	::selection{
		background: #bbb;
		color: inherit;
	}

#container{
	min-height: 100vh;
	padding: 2.5em;
	transition: opacity 0.5s ease-in-out 0.25s;

	&.fade-out{
		opacity: 0;
	}

	@include r(md){
		padding: 1.25em;
	}
}

	.header-main{
		line-height: 1.15;
	}

		.site-title{
			margin-bottom: 0;
		}

		.site-description{
			color: $grey2;
		}

	#coordinates{
		padding: $padding-main;
			padding-top: 5em;

		@include r(md){
			border: 3em solid transparent;
				border-right-width: 4.2em;
				border-left-width: 4em;
			float: left;
			height: 100%;
			padding: 0;
			position: absolute;
				top: 0;
				left: 0;
			width: 100%;
		}
	}

		.projects{
			height: 100%;
			position: absolute;
				top: 0;
				left: 0;
			width: 100%;
			z-index: 100;
		}

			.project{
				display: block;
				text-decoration: none;

				@include r(md){
					margin-top: -0.5em;
					position: absolute;
					max-width: 20%;
				}

				&:hover{
					.project-meta{
						text-shadow: 0 0 10px rgba($white, 0.5);
					}

						.project-title{
							color: $white;

							&:after, &:before{
								background: $white;
							}
						}

						.project-typology{
							color: #ddd;
						}

					.project-img{
						opacity: 1;
					}
				}
			}

				.project-meta{
					position: relative;
					mix-blend-mode: difference;
					z-index: 100;
				}

					.project-title{
						display: inline;
						line-height: 1.05;
						margin: 0;
						position: relative;
						transition: color 0.3s ease-in-out;

						@include r(m){
							white-space: nowrap;
						}

						&:after, &:before{
							background: #555;
							backface-visibility: hidden;
							border-radius: 5px;
							content: "";
							display: block;
							height: 10px;
							position: absolute;
								top: 0.25em;
								left: -1.1875em;
							transform: scale(1.25);
							transition: background 0.2s ease, transform .5s linear;
							width: 10px;
						}
					}

					.project-typology{
						color: $grey2;
						transition: color 0.3s ease-in-out;
					}

				.project-img{
					opacity: 0;
					pointer-events: none;
					position: fixed;
						top: 0;
						left: 0;
					transition: opacity 0.3s ease-in-out;
					width: 35vmin;

					img{
						float: left;
						transform: translate(-50%, -50%);
						width: 100%;
					}
				}

		.axis{
			display: none;
			line-height: 1;

			@include r(md){
				background: #2c2c2c;
				color: #999;
				display: block;
				@include propFig;
				position: absolute;
				z-index: 10;
			}
		}

			.y{
				height: 100%;
				top: 0;
				left: 50%;
				text-align: center;
				width: 1px;
			}

				.y span{
					height: 1em;
					position: absolute;
					width: 10em;
				}

					.y-top{
						top: -1.75em;
						left: -5em;
					}

					.y-bottom{
						bottom: -1.75em;
						left: -5em;
					}

			.x{
				height: 1px;
				top: 50%;
				left: 0;
				width: 100%;
			}

				.x span{
					height: 1em;
					position: absolute;
						top: -0.5em;
				}

					.x-left{
						left: -2.75em;
					}

					.x-right{
						background: $black;
						padding-left: 0.75em;
						right: -3em;
					}

	.entry-header{
		width: 100%;

		@include r(md){
			mix-blend-mode: difference;
			position: fixed;
			z-index: 3000;
		}
	}

		.entry-typology{
			color: $grey2;
		}

		.home-link{
			display: inline-block;
			position: relative;
			text-decoration: none;

			&:before{
				@include preCircle;
			}

			&:after{
				border-bottom: 1px solid #444;
				content: "";
				position: absolute;
					bottom: 0;
					left: 0;
				transition: border-bottom-color 0.3s ease-in-out;
				width: 100%;
			}

			&:hover{
				&:before{
					background: $white;
					transform: translateX(-4px);
				}

				&:after{
					border-bottom-color: currentColor;
				}
			}
		}

		.entry-position{
			@include propFig;
		}

	.entry-article{
		margin-top: $line-height-heading*3;
	}

		.entry-article-header{
			margin-bottom: $line-height;
		}

			.entry-preamble{
				font-family: $font2;
				font-size: 1.5em;
				line-height: 1.25;
				text-indent: 2em;

				@include r(md){
					font-size: 2em;
				}

				@include r(lg){
					font-size: 2.25em;
					font-size: 2em;
				}

				p{
					text-indent: 2em;

					&:first-of-type{
						text-indent: 0;
					}
				}
			}

			.entry-meta{
				@include propFig;
			}

				.entry-title{
					margin: 0;
					max-width: 16em;
				}

				.entry-time{
					color: $grey2;
				}

		.entry-article-content{}

			.entry-article-row{
				align-items: flex-start;
				margin-bottom: $line-height;
			}

				.asset-meta{
					color: $grey2;
					@include tabFig;
					font-size: 0.75em;
				}

				.asset-indice{
					display: none;
				}

				.entry-img{
					float: left;
					width: 100%;
				}

				.entry-text{
					font-family: $font2;
					font-size: 1.5em;
				}

				.entry-iframe-container{
					float: left;
					height: 0;
					padding-bottom: 75%;
					position: relative;
					width: 100%;
				}

					.entry-iframe{
						height: 100%;
						position: absolute;
							top: 0;
							left: 0;
						width: 100%;
					}

	.footer-main{}

		.scroll-top-wrap{
			position: relative;
		}

			.scroll-top{
				text-decoration: none;
				mix-blend-mode: difference;
				position: fixed;
					bottom: 1.25em;
			}

	#c{
		height: 100%;
		pointer-events: none;
		position: fixed;
			top: 0;
			left: 0;
		opacity: 0;
		width: 100%;
		z-index: -1;
	}