@import 'normalize-min.scss';
@import 'fonts.scss';
@import 'normalize-opentype-min.scss';
@import 'flexboxgrid.min.scss';

// Font stacks
$font: GT Cinetype, Helvetica, Arial, sans-serif;
$font2: Times New Roman, Times, serif;

// Main colors
$black: #000000;
$white: #ffffff;
$background: $black; 
$text: #ccc;
$grey1: #2c2c2c;
$grey2: #777;

// Global measuements
$padding-main: 1em;
$line-height: 1.375em;

// Responsive widths and mixin
$width-s: 23em;
$width-sm: 48em;
$width-md: 60em;
$width-lg: 75em;
$width-xl: 105em;
 
@mixin r($width){

	@if $width == s{
		@media only screen and (min-width: $width-s) { @content; }
	}

	@else if $width == sm{
		@media only screen and (min-width: $width-sm) { @content; }
	}

	@else if $width == md{
		@media only screen and (min-width: $width-md) { @content; }
	}

	@else if $width == lg{
		@media only screen and (min-width: $width-lg) { @content; }
	}

	@else if $width == xl{
		@media only screen and (min-width: $width-xl) { @content; }
	}
}

// Pretty underlines for capable browsers
@mixin underline{
	text-decoration: underline;
	text-decoration-skip: ink;
}

// Global styles
*, *:before, *:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html{}

body{
	background: $background;
	color: $text;
	font: 400 1em/1.375 $font;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	margin: 0;
	overflow-x: hidden;
	text-rendering: optimizeLegibility;

	@include r(xl){
		font-size: 1.125em;
	}
}

	a{
		color: inherit;
		@include underline;

		&:active, &:focus, &:hover{
			text-decoration: none;
		}
	}
		
	figure{
		margin: 0;
		padding: 0;
	}

		figcaption{}

	h1, h2, h3, h4, h5, h6{
		font: inherit;
		line-height: 1.1;
		margin: 0;
			margin-bottom: $line-height;
	}

	hr{
		border: none;
			border-bottom: 1px solid #333;
	}

	img{
		height: auto;
		max-width: 100%;
	}

	p{
		margin: 0;
		max-width: 35em;
	}

	section{}

	ul, li{
		margin: 0;
		padding: 0;
	}

	::selection{
		background: #bbb;
		color: inherit;
	}

#container{
	padding: 1.25em;
}

	.header-main{}

		.site-title{
			margin-bottom: 0;
		}

		.site-description{
			color: $grey2;
		}

	#coordinates{
		padding: $padding-main;
			padding-top: 5em;

		@include r(md){
			border: 3em solid transparent;
				border-right-width: 4.2em;
				border-left-width: 4em;
			float: left;
			height: 100%;
			padding: 0;
			position: absolute;
				top: 0;
				left: 0;
			width: 100%;
		}
	}

		.projects{
			height: 100%;
			position: absolute;
				top: 0;
				left: 0;
			width: 100%;
			z-index: 100;
		}

			.project{
				display: block;
				text-decoration: none;

				@include r(md){
					margin-top: -0.5em;
					position: absolute;
					max-width: 20%;
				}
			}

				.project-meta{}

					.project-title{
						line-height: 1.15;
						margin: 0;
						position: relative;

						@include r(m){
							white-space: nowrap;
						}

						&:after, &:before{
							background: #555;
							backface-visibility: hidden;
							border-radius: 5px;
							content: "";
							display: block;
							height: 10px;
							position: absolute;
								top: 0.25em;
								left: -1.1875em;
							transform: scale(1.25);
							transition: background 0.2s ease, transform .5s linear;
							width: 10px;
						}
					}

					.project-typology{
						color: $grey2;
					}

		.axis{
			display: none;
			line-height: 1;

			@include r(md){
				background: #2c2c2c;
				color: #999;
				display: block;
				font-feature-settings: "onum" 0, "lnum" 1;
				position: absolute;
				z-index: 10;
			}
		}

			.y{
				height: 100%;
				top: 0;
				left: 50%;
				text-align: center;
				width: 1px;
			}

				.y span{
					height: 1em;
					position: absolute;
					width: 10em;
				}

					.y-top{
						top: -1.75em;
						left: -5em;
					}

					.y-bottom{
						bottom: -1.75em;
						left: -5em;
					}

			.x{
				height: 1px;
				top: 50%;
				left: 0;
				width: 100%;
			}

				.x span{
					height: 1em;
					position: absolute;
						top: -0.5em;
				}

					.x-left{
						left: -2.75em;
					}

					.x-right{
						right: -3em;
					}