@import 'normalize-min.scss';
@import 'fonts.scss';
@import 'normalize-opentype-min.scss';
@import 'flexboxgrid.min.scss';

// Font stacks
$font: GT Cinetype, Helvetica, Arial, sans-serif;

// Main colors
$black: #000000;
$white: #ffffff;
$background: $black; 
$text: #eee;
$grey1: #2c2c2c;
$grey2: #999;

// Global measuements
$padding-main: 1em;
$line-height: 1.375em;
$line-height-heading: 1.15em;
$letter-spacing-body: -0.01em;
$letter-spacing-large: -0.02em;

// Responsive widths and mixin
$width-s: 23em;
$width-sm: 48em;
$width-md: 60em;
$width-lg: 75em;
$width-xl: 105em;
$width-xxl: 120em;
 
@mixin r($width){

	@if $width == s{
		@media only screen and (min-width: $width-s) { @content; }
	}

	@else if $width == sm{
		@media only screen and (min-width: $width-sm) { @content; }
	}

	@else if $width == md{
		@media only screen and (min-width: $width-md) { @content; }
	}

	@else if $width == lg{
		@media only screen and (min-width: $width-lg) { @content; }
	}

	@else if $width == xl{
		@media only screen and (min-width: $width-xl) { @content; }
	}

	@else if $width == xxl{
		@media only screen and (min-width: $width-xxl) { @content; }
	}
}

// Pretty underlines for capable browsers
@mixin underline{
	text-decoration: underline;
	text-decoration-skip: ink;
}

// Add circle before element. Requires relative positioning for parent.
@mixin preCircle{
	background: #555;
	backface-visibility: hidden;
	border-radius: 50%;
	content: "";
	display: block;
	height: 0.75em;
	position: absolute;
		top: 0.15em;
		left: -1.125em;
	transition: background 0.2s ease, transform .5s ease-in-out;
	width: 0.75em;
}

@mixin tabFig{
	font-feature-settings: "onum" 0, "lnum" 1, "tnum" 1;
}

@mixin propFig{
	font-feature-settings: "onum" 0, "lnum" 1, "pnum" 1;
}

// Global styles
*, *:before, *:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html{}

body{
	background: $background;
	color: $text;
	font: 400 0.9375em/1.3125 $font;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	letter-spacing: $letter-spacing-body;
	margin: 0;
	overflow-x: hidden;
	text-rendering: optimizeLegibility;

	@include r(xl){
		font-size: 1em;
	}
}

	a{
		color: inherit;
		@include underline;

		&:active, &:focus, &:hover{
			text-decoration: none;
		}
	}
		
	figure{
		margin: 0;
		padding: 0;
	}

		figcaption{}

	h1, h2, h3, h4, h5, h6{
		font: inherit;
		line-height: 1.15;
		margin: 0;
	}

	hr{
		border: none;
			border-bottom: 1px solid #333;
	}

	img, video{
		height: auto;
		max-height: 100%;
		max-width: 100%;
	}

	p{
		margin: 0;
		max-width: 35em;
	}

	section{}

	ul, li{
		margin: 0;
		padding: 0;
	}

	::selection{
		background: #fff;
		color: #000;
	}

#container{
	min-height: 100vh;
	padding: 1em;

	@include r(md){
		padding: 1.25em;
	}
}

	.title-home-link{
		text-decoration: none;

		&:hover{
			.site-description{
				color: $white;
			}
		}
	}

	.header-main{
		float: left;
		line-height: 1.15;
		position: relative;
		z-index: 200;
	}

		.site-title{
			margin-bottom: 0;
			
			@include r(md){
				margin-left: -1px; // Compensate text to align with images in grid
			}
		}

		.site-description{
			color: $grey2;
			transition: color 0.3s ease-in-out;

			@include r(md){
				margin-left: -1px; // Compensate text to align with images in grid
			}
		}

		.nav-main{
			margin-top: $line-height;
		}

			.nav-list{
				list-style: none;
			}

				.nav-link{
					color: $grey2;
					text-decoration: none;
					transition: color 0.3s ease-in-out;

					&:hover{
						color: $white;
					}

					&.nav-link-projects{
						@include r(md){
							display: none;
						}
					}
				}

	.footer-main{
		a{
			text-decoration: none;
		}
	}

	.scroll-top-wrap{
		position: relative;
	}

		.scroll-top{
			text-decoration: none;
		}

	#c{
		height: 100%;
		pointer-events: none;
		position: fixed;
			top: 0;
			left: 0;
		opacity: 0;
		width: 100%;
		z-index: -1;
	}


	// Index

	#coordinates{
		margin-top: calc(100vh - 1.375em - 6em - 5.5em);
		margin-bottom: $line-height*2;
		padding: $padding-main;
		position: absolute;
			top: 0;
			left: $padding-main*2.4;
		width: calc(100% - 3em);

		@include r(md){
			border: 3em solid transparent;
				border-right-width: 4.2em;
				border-left-width: 4em;
			height: 100%;
			left: 0;
			margin: 0;
			padding: 0;
			width: 100%;
		}
	}

		.projects{
			position: relative;
			z-index: 100;

			@include r(md){
				height: 100%;
				position: absolute;
					top: 0;
					left: 0;
				width: 100%;
			}
		}

			.project{
				display: block;
				float: left;
				margin-bottom: $line-height*3;
				text-decoration: none;
				width: 100%;

				.js &{
					visibility: hidden;
				}

				@include r(md){
					float: none;
					margin-top: -0.5em;
					margin-bottom: 0;
					position: absolute;
					max-width: 20%;
					width: auto;
				}

				&:hover{
					.project-meta{
						text-shadow: 0 0 10px rgba($white, 0.5);
					}

						.project-title{
							color: $white;

							&:after, &:before{
								background: $white;
							}
						}

						.project-typology{
							color: #ddd;
						}

					.project-img{
						opacity: 1;
					}
				}
			}

				.project-meta{
					line-height: 1.25;
					position: relative;
					mix-blend-mode: difference;
					z-index: 100;
				}

					.project-title{
						display: inline-block;
						line-height: inherit;
						margin: 0;
						position: relative;
						transition: color 0.3s ease-in-out;

						@include r(m){
							white-space: nowrap;
						}

						&:after, &:before{
							background: #555;
							backface-visibility: hidden;
							border-radius: 5px;
							content: "";
							display: block;
							height: 10px;
							position: absolute;
								top: 0.25em;
								left: -1.1875em;
							transform: scale(1.25);
							transition: background 0.2s ease, transform .5s linear;
							width: 10px;
						}
					}

					.project-typology{
						color: $grey2;
						transition: color 0.3s ease-in-out;
					}

				.project-img{
					margin-top: $line-height;
					width: 100%;

					.js &{
						visibility: hidden;
					}

					img{
						float: left;
						width: 80%;
					}

					@include r(md){
						margin-top: 0;
						opacity: 0;
						pointer-events: none;
						position: fixed;
							top: 0;
							left: 0;
						transition: opacity 0.3s ease-in-out;
						width: 35vmin;

						img{
							transform: translate(-50%, -50%);
							width: 100%;
						}
					}
				}

		.axis{
			background: #2c2c2c;
			color: #999;
			@include propFig;
			line-height: 1;
			position: absolute;
			z-index: 10;
		}

			.y{
				display: none;
				height: 100%;
				top: 0;
				left: 50%;
				text-align: center;
				width: 1px;

				@include r(md){
					display: block;
				}
			}

				.y span{
					height: 1em;
					position: absolute;
					width: 10em;
				}

					.y-top{
						top: -1.75em;
						left: -5em;
					}

					.y-bottom{
						bottom: -1.75em;
						left: -5em;
					}

			.x{
				height: 100%;
				top: 0;
				left: 1px;
				width: 1px;

				@include r(md){
					height: 1px;
					top: 50%;
					left: 0;
					width: 100%;
				}
			}

				.x span{
					height: 1em;
					position: absolute;
					z-index: 20;
						
					@include r(md){
						top: -0.5em;
					}
				}

					.x-left{
						left: -1em;
						bottom: -$line-height;

						@include r(md){
							left: -2.75em;
						}
					}

					.x-right{
						top: -$line-height;
						left: -1.65em;

						@include r(md){
							background: $black;
							padding-left: 0.75em;
							top: auto;
							right: -3em;
							left: auto;
						}
					}


	// Entries

	.entry-header{
		float: none;

		@include r(md){
			mix-blend-mode: difference;
			z-index: 3000;
		}
	}

		.home-link{
			display: inline-block;
			position: relative;
			text-decoration: none;

			@include r(md){
				position: fixed;
			}

			&:before{
				border : {
					top: 1px solid $text;
					left: 1px solid $text;
				}
				content: "";
				height: 10px;
				position: absolute;
					top: 4px;
					left: -18px;
				transform: rotate(-45deg);
				width: 10px;
			}

			&:after{
				border-top: 1px solid $text;
				content: "";
				height: 1px;
				position: absolute;
					top: 8px;
					left: -18px;
				width: 12px;
			}
		}

		.entry-position{
			@include propFig;
			margin-top: $line-height;

			@include r(md){
				margin-top: 0;
			}
		}

		.entry-time{
			@include propFig;
			color: $grey2;
		}

	.entry-article{
		margin-top: $line-height*2;
		min-height: 100vh;

		@include r(md){
			margin-top: $line-height-heading*5;
		}
	}

		.entry-article-header{
			margin-bottom: $line-height*2;
		}

			.entry-meta{
				@include propFig;
				font-size: 1.25em;
				letter-spacing: $letter-spacing-large;
				line-height: 1.15;
				margin-bottom: $line-height;

				@include r(md){
					font-size: 2em;
					margin-bottom: 0;
					mix-blend-mode: difference;
					position: relative;
				}

				@include r(lg){
					font-size: 2.5em;
				}

				@include r(xl){
					font-size: 3em;
				}
			}

				.entry-title{
					line-height: inherit;
					margin: 0;
					max-width: 16em;
				}

				.entry-typology{
					color: $grey2;
				}

			.entry-preamble{
				color: #ddd;
				font-size: 1.25em;
				letter-spacing: $letter-spacing-large;
				line-height: 1.3125;
				text-indent: 2em;

				@include r(md){
					font-size: 1.5em;
				}

				p{
					text-indent: 2em;

					&:first-of-type{
						text-indent: 0;
					}
				}
			}

		.entry-article-content{}

			.entry-article-row{
				align-items: flex-start;
				margin-bottom: $line-height*8;
			}

				.asset-meta{
					color: $grey2;
					@include propFig;
				}

					.asset-ext, .asset-size, .asset-chars{
						display: none;
					}

					.asset-indice{
						// display: none;
					}

				.entry-img{
					cursor: s-resize;
					float: left;
					width: 100%;
				}

				.entry-text{
					font-size: 1.75em;
				}

				.entry-iframe-container{
					float: left;
					height: 0;
					padding-bottom: 75%;
					position: relative;
					width: 100%;
				}

					.entry-iframe{
						height: 100%;
						position: absolute;
							top: 0;
							left: 0;
						width: 100%;
					}


	// Archive

	.archived-projects{
		margin-top: $line-height*5;
	}

		.archived-projects-labels{
			color: $grey2;
			display: flex;
				flex-wrap: wrap;
			padding-bottom: $line-height/2;
		}

			.archive-sort-btn{
				appearance: none;
				background: none;
				border: none;
				border-radius: 0;
				color: inherit;
				cursor: pointer;
				font: inherit;
				margin: 0;
				padding: 0;
				outline: none;
				text-align: left;
				transition: color 0.3s ease-in-out;

				&:hover{
					color: $text;
				}
			}

		.archived-projects-wrap{
			border-top: 1px solid $grey1;
		}

			.archived-project{
				border-bottom: 1px solid $grey1;
				cursor: pointer;
				display: flex;
					flex-wrap: wrap;
				padding: 0.5em 0;
				position: relative;
				transition: opacity 0.3s ease-in-out;
				width: 100%;

				&:hover{
					.archived-project-thumbnail{
						opacity: 1;
					}
				}

				&.hover-out{
					opacity: 0.5;
				}
			}

				.archived-project-title-time, .archived-project-client, .archived-project-typology{
					width: 75%;

					@include r(md){
						padding-left: 1rem;
						width: 33.3333%;

						&:first-of-type{
							padding-left: 0;
						}
					}
				}

					.archived-project-title{}

					.archived-project-client{}

					.archived-project-typology{
						@include r(md){
							padding-left: 1rem;
							width: 22%;
						}
					}

					.archived-project-timeframe{
						@include propFig;
						order: 2;
						width: 25%;

						@include r(md){
							padding-left: 1rem;
							width: 11.3333%;
						}
					}

					.archived-project-thumbnail{
						backface-visibility: hidden;
						opacity: 0;
						pointer-events: none;
						position: absolute;
							top: -1px;
							left: -1rem;
						transform: translateX(-100%);
						transition: opacity 0.3s ease-in-out;
						width: calc(25vw - 1.25rem);

						img{
							float: left;
							width: 100%;
						}
					}