<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
	<meta charset="utf-8" />
	<title>{% if title is defined %}{{ title }} — {% endif %}{{ siteName }}</title>
	<link rel="home" href="{{ siteUrl }}" />
	<link rel="stylesheet" href="{{ siteUrl }}assets/css/style.css" />
	<link rel="shortcut icon" href="{{ siteUrl }}assets/img/favicon.ico" />
</head>

<body {% if bodytag is defined %}id="{{ bodytag }}"{% endif %}>
	<div id="container" class="container-fluid">
		{% block header %}
		<header id="header" class="header-main">
			<h1 class="site-title">{{ siteName }}</h1>
			<div class="site-description">Designer at Snøhetta</div>
		</header>
		{% endblock %}

		<main id="content" role="main">
			{% block content %}
				<p>Something went wrong. Sorry about that.</p>
			{% endblock %}
		</main>

		{% block footer %}
		{% endblock %}
	</div>
	<svg class="svg-filters" style="display: none;">
		<defs>
			<filter id="filter-warp">
				<feTurbulence type="fractalNoise" id="noise" baseFrequency="0.003" numOctaves="2" result="warp" stitchTiles="stitch"></feTurbulence>
				<feOffset dx="25.113487499999998" dy="-25.113487499999998" id="offset" result="warpOffset"></feOffset>
				<feDisplacementMap xChannelSelector="R" yChannelSelector="G" scale="600" in="SourceGraphic" in2="warpOffset"></feDisplacementMap>
			</filter>
		</defs>
	</svg>
	<script src="assets/js/vendor-min.js"></script>
	<script src="assets/js/site.js"></script>
</body>
</html>