{#
 # Layout template
 # ---------------
 #
 # This template defines your site’s global layout. It can be
 # “extended” by other templates to fill in the gaps.
 #
 # See Twig’s Template Inheritance documentation for more details:
 # http://twig.sensiolabs.org/doc/templates.html#template-inheritance
 #}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
	<meta charset="utf-8" />
	<title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
	<link rel="home" href="{{ siteUrl }}" />
	<link rel="stylesheet" href="{{ siteUrl }}assets/css/style.css" />
</head>

<body>
	<div id="container">
		<header id="header" class="header-main">
			<h1><a href="{{ siteUrl }}">{{ siteName }}</a></h1>
		</header>

		<main id="content" role="main">
			{% block content %}
				<p>Something went wrong. Sorry about that.</p>
			{% endblock %}
		</main>
	</div>
</body>
</html>
