<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
	<meta charset="utf-8" />
	<title>{% if title is defined %}{{ title }} — {% endif %}{{ siteName }}</title>
	<link rel="home" href="{{ siteUrl }}" />
	<link rel="stylesheet" href="{{ siteUrl }}assets/css/style.css" />
	<link rel="shortcut icon" href="{{ siteUrl }}assets/img/favicon.ico" />
</head>

<body class="no-js" {% if bodytag is defined %}id="{{ bodytag }}"{% endif %}>
	<div id="container" class="container-fluid" data-debate="Wim Crouwel > Jan van Toorn">
		{% block header %}
		<header id="header" class="header-main">
			<h1 class="site-title">{{ siteName }}</h1>
			<div class="site-description">{{ siteInformation.siteDescription }}</div>
			<nav class="nav-main">
				<ul class="nav-list">
					<li class="nav-item">
						<a href="#coordinates" class="nav-link nav-link-projects">Projects</a>
					</li>
					{# <li class="nav-item">
						<a href="archive" class="nav-link">Archive</a>
					</li> #}
					<li class="nav-item">
						<a href="about" class="nav-link">About + contact</a>
					</li>
				</ul>
			</nav>
		</header>
		{% endblock %}

		<main id="content" role="main">
			{% block content %}
				<p>Something went wrong. Sorry about that.</p>
			{% endblock %}
		</main>

		{% block footer %}
		{% endblock %}
	</div>
	<script>
		document.body.className = document.body.className.replace("no-js","js");
	</script>
	<script src="assets/js/vendor-min.js"></script>
	<script src="assets/js/site.js"></script>
</body>
</html>