{% extends "_layout" %}

{% block content %}
	<div id="coordinates">
		<div class="projects" id="projects-container">
		{% for entry in craft.entries.section('projects') %}
			<a href="{{ entry.url }}" class="project" style="top: {{ entry.yPosition }}%; left: {{ entry.xPosition }}%;">
				<div class="project-meta">
					{% if entry.projectTitleMaxWidth > 0 %}
						<h2 class="project-title" style="max-width: {{ entry.projectTitleMaxWidth }}em;">{{ entry.title|widont }}</h2>
						{% else %}
						<h2 class="project-title">{{ entry.title|widont }}</h2>
					{% endif %}
					<div class="project-typology">{{ entry.typology }}</div>
				</div>
				{% if entry.projectThumbs | length %}
					{% for asset in entry.projectThumbs %}
						<div class="project-img">
							<img src="{{ asset.getUrl('thumbnail') }}">
						</div>
					{% endfor %}
				{% endif %}
			</a>
		{% endfor %}
		</div>
		<div class="axis x">
			<span class="x-left">{{ axisLabels.xAxis1 }}</span>
			<span class="x-right">{{ axisLabels.xAxis2 }}</span>
		</div>
		<div class="axis y">
			<span class="y-top">{{ axisLabels.yAxis1 }}</span>
			<span class="y-bottom">{{ axisLabels.yAxis2 }}</span>
		</div>
	</div>
	<canvas id="c"></canvas>
{% endblock %}