{% extends "_layout" %}

{% block content %}
	<div id="coordinates">
		<div class="projects">
		{% for entry in craft.entries.section('projects') %}
			<a href="{{ entry.url }}" class="project" style="top: {{ entry.yPosition }}%; left: {{ entry.xPosition }}%;">
				<div class="project-meta">
					<h2 class="project-title">{{ entry.title|widont }}</h2>
					<div class="project-typology">{{ entry.typology }}</div>
				</div>
				<div class="project-img">
					<div class="pr-img">
						
					</div>
				</div>
			</a>
		{% endfor %}
		</div>
		<div class="axis x">
			<span class="x-left">{{ siteInformation.timelineStartYear }}</span>
			<span class="x-right">Now</span>
		</div>
		<div class="axis y">
			<span class="y-top">Analog</span>
			<span class="y-bottom">Digital</span>
		</div>
	</div>
{% endblock %}
